body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: auto;
  
}

#posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px
  ;
}

.posts-item {
  background-color: aliceblue;
  padding: 20px;
  
}

.posts-item a {
  text-decoration: none;
  color: black;
}


.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.button-wrapper {
  margin-top: 30px;
  text-align: center;
}

.button-wrapper-between {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background-color: rgb(148, 223, 151);
  padding: 15px 20px;
  border-radius: 6px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 1em;
  text-decoration: none;
  color: black;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}